#
#  Author: Hari Sekhon
#  Date: 2021-11-09 15:14:59 +0000 (Tue, 09 Nov 2021)
#
#  vim:ts=4:sts=4:sw=4:et
#
#  https://github.com/HariSekhon/DevOps-Bash-tools
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/HariSekhon
#

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Good in theory, to alert on PR changes to these code paths, but for public repos which may be forked and run .github/workflows/fork-update.yaml, this will result in a lot of spam

# Tips:
#
# * includes changes under .github/
# dir/* only matches first level file changes but doesn't recurse
# dir/ recurses
#
# - CODEOWNERS in base branch of PR determines review request
# - paths are case sensitive
# - last match wins, use * at top for overall owner then override with more specific teams

#*          @harisekhon                  # username or email address
#*          @myorg/platform-engineering  # team based is the way to go - team must have Write access to the repo regardless of if individuals have access
#*          @myorg/devops
#k8s        @myorg/devops @myorg/sre-team
#apps/      @myorg/developers
#apps/dir2  # ignores dir2 as no owner/team specified on this line
#src/       @myorg/developers
#docs/      docs@example.com
#.github/workflows  @ci-cd-team
