#  vim:ts=4:sts=4:sw=4:et
#
#  Author: Hari Sekhon
#  Date: 2015-10-31 19:04:34 +0000 (Sat, 31 Oct 2015)
#
#  https://github.com/HariSekhon/DevOps-Bash-tools
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#  to help improve or steer this or other code I publish
#
#  https://www.linkedin.com/in/HariSekhon
#

# http://EditorConfig.org

# stop recursing upwards for other .editorconfig files
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_size = 4
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
indent_size = 4
indent_style = tab
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_size = 4
indent_style = tab
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[{*.md,*.hcl,*.tf,*.tfvars}]
indent_size = 2
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.yml,*.yaml]
indent_size = 2
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[.*]
indent_size = 4
indent_style = space
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# ============================================================================ #
#                  Older Stuff, don't think I use this any more
# ============================================================================ #

# Matches multiple files with brace expansion notation
# Set default charset
#[*.{js,py}]
#charset = utf-8

# Indentation override for all JS under lib directory
#[lib/**.js]
#indent_style = space
#indent_size = 2

# Matches the exact files either package.json or .travis.yml
#[{package.json,.travis.yml}]
#indent_style = space
#indent_size = 2

#[*.xml]
#indent_style = space
#indent_size = 2
