#
#  Author: Hari Sekhon
#  Date: 2020-09-28 09:58:44 +0100 (Mon, 28 Sep 2020)
#
#  vim:ts=4:sts=4:sw=4:et
#
#  https://github.com/harisekhon/bash-tools
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                           . g c l o u d i g n o r e
# ============================================================================ #

# https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore

# ============================================
# Ignore uploading these to Google App Engin, Cloud Build, Cloud Functions
#
# there is a much bigger list in the adjacent .gitignore, some of which may be worth porting in to here too
#
# XXX: tested, cannot use blacklists like in .dockerignore because this breaks uploading anything, regardless of the blacklist coming before or after the !whitelist items
#      use of either * or .* breaks Google Cloud Functions upload which end up with empty zips even with !main.py and !requirements.txt whitelist exclusions before or after
#      so this definitely doesn't support the features of .gitignore and .dockerignore
# *
# .*

# since .* doesn't work, unlike .dockerignore we must specify the common dot files to exclude below

.git/
.hg/
.svn/
.gcloudignore
.gitignore
.dockerignore

# descends directories matching basenames like .gitignore, doesn't need **/ prefix like .dockerignore

Jenkinsfile
azure-pipelines.y*ml
bitbucket-pipelines.y*ml
buddy.y*ml
codefresh.y*ml
shippable.y*ml
wercker.y*ml
gocd_config_repo.json
jenkins-job.xml
hadolint.y*ml
scalastyle_config.xml
yamllint/
# contains webhook URL which should not be committed publicly
buildkite-pipeline*.json

# ========================================
# Based on the massive adjacent .gitignore

git/
github/
gitolite*/
gitroot/
mercurial/
hg/
hgroot/
svn/
svnroot/
subversion/

dist/
node_modules/
vendor/
logs/
git/
github/
vagrant/
venv/
debs/
rpms/

*#*#
*.a
*.avi
*.bak
*.bak.*
*.bin
*.bkp
*.class
*.dump
*.flv
*.kdb
*.lock
*.log
*.macports-saved_*
*.mp3
*.mp4
*.mpeg
*.mpg
*.o
*.orig
*.out
*.part
*.pyc
*.pyo
*.stderr
*.stdout
*.swo
*.swp
*.tmp
*.wmv
*~
tmp.*
~*

# since .* doesn't work we must specify the common dot files to exclude below

.a
.activator/
.adobe
.agent.env
.aliaslists
.android/
.anyconnect
.ApacheDirectoryStudio/
.atftp_history
.atom/
.audacious/
.awless/
.aws/
.bash*
.cache
.cassandra/
.cbq_history
.ccm/
.CFUserTextEncoding
# Codefresh config contains API Key
.cfconfig
# Circle CI API Token stored in .circleci/cli.yml
.circleci/
.config
.cpanm/
.data
.dbshell
.dcos/
.devcenter/
.docker*
.dropbox/
.DS_Store
.env*
.erlang.cookie
.flyrc
.gem
.gradle
.groovy
.irb-save-history
.irb_history
# contains creds
.iredisrc
.ivy2/
.kube/
.ldapvi_history
.lesshst
.m2/
.macports/
.mcop
.mcoprc
.minikube/
.minishift/
.minishift.env
.mtools/
.mysql_history
.neo4j_shell_history
.npm/
.octave_hist
# PostgreSQL password file
.pgpass
# stores credentials
.pig_history
.pki
.psql_history
.puppet/
.pwm3
.python-eggs/
.python_history
# contains usernames and passwords
.rabbitmqadmin.conf
.RData
.rnd
.rstudio-desktop/
.rbenv/
.sbt/
.scala_history
.sdkman/
# Semaphore CI - contains auth token
.sem.yaml
.serverauth.*
.sh_history
.Skype
.snowsql/
# Snowflake password stored in plaintext in here
.snowsql/config
.spark_history
.Spotlight-*
.sqlite_history
.sqlline/history
.ssh
.subversion/
# stores creds
.subversion/auth
.svn
.TemporaryItems
.terraform.d/
.tmux/
.travis/
.vagrant
.vagrant.d/
.vim/
.viminfo
.vnc/
.wireshark-etc/
.wireshark/
.Xauthority
.xsession-errors
.zenmap-etc/pango/pangorc

Box Documents/
Desktop/
Documents/
Downloads/
drive/
Dropbox/
eclipse/
Google*Drive
mbox
Movies
Music
Qsync/
Pictures
vagrant/
venv/
VirtualBox VMs/
VirtualBoxShared
visualvm*
wordlists/

*.doc
*.docx
*.msg
*.pages
*.ppt
*.pptx
*.rtf
*.wpd
*.wps
*.xls
*.xlsx
