[include]
  path = .gitconfig.local

[alias]
  br = branch
  co = checkout
  ci = commit
  p = push
  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v
