[submodule "SQL"]
	path = SQL
	url = https://github.com/HariSekhon/SQL
[submodule "sql"]
	path = sql
	url = https://github.com/HariSekhon/SQL
[submodule "templates"]
	path = templates
	url = https://github.com/HariSekhon/Templates
