#
#  Author: Hari Sekhon
#  Date: Mon Mar 24 15:22:28 2008 +0000
#
#  vim:ts=4:sts=4:sw=4:et
#
#  https://github.com/HariSekhon/DevOps-Bash-tools
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/HariSekhon
#

# ============================================================================ #
#                       M y S Q L   U s e r   C o n f i g
# ============================================================================ #

# https://dev.mysql.com/doc/refman/8.0/en/option-files.html

# See also:
#
#   https://github.com/HariSekhon/SQL-scripts

[client]
host=localhost
# avoid annoying socket errors when connecting to MySQL in docker
protocol=tcp

[mysql]
auto-rehash
no-beep
reconnect
#safe-updates
#secure-auth  # mysql: [ERROR] unknown option '--secure-auth'.
show-warnings
#sigint-ignore
