#
#  Author: Hari Sekhon
#  Date: 2023-05-05 18:05:53 +0100 (Fri, 05 May 2023)
#
#  vim:ts=2:sts=2:sw=2:et:filetype=yaml
#
#  https://github.com/HariSekhon/DevOps-Bash-tools
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/HariSekhon
#

# ============================================================================ #
#                             K i c s   C o n f i g
# ============================================================================ #

# https://github.com/Checkmarx/kics/blob/master/docs/configuration-file.md

---
#path: assets/iac_samples
verbose: true
log-file: true
#type:
#  - Dockerfile
#  - Kubernetes
#queries-path: "assets/queries"
exclude-paths:
  # ignore submodules - handle them in the source repos only
  - bash-tools/
  - github-actions/
  - haproxy-configs/
  - jenkins/
  - kubernetes-templates/
  - lib/
  - pylib/
  - spotify-tools/
  - sql/
  - sql-keywords/
  - templates/
  - terraform-templates/
#output-path: "results"
