#  vim:ts=4:sts=4:sw=4:noet
#
#  Author: Hari Sekhon
#  Date: 2013-01-06 15:45:00 +0000 (Sun, 06 Jan 2013)
#
#  https://github.com/HariSekhon/lib
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  https://www.linkedin.com/in/HariSekhon
#

# ============================================================================ #
#                       Optional CPAN Module Dependencies
# ============================================================================ #

# needed for PAR::Packer
ExtUtils::Embed

# needed by perl_generate_par_binaries.sh
PAR::Packer

# for json2yaml.sh / yaml2json.sh
JSON::XS
YAML::XS
