#
#  Author: Hari Sekhon
#  Date: Tue Feb 4 09:53:28 2020 +0000
#
#  vim:ts=2:sts=2:sw=2:et
#
#  https://github.com/HariSekhon/DevOps-Bash-tools
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#
#  https://www.linkedin.com/in/HariSekhon
#

# ============================================================================ #
#                              C o d e O w n e r s
# ============================================================================ #

---
name: CodeOwners

on:
  push:
    branches:
      - master
      - main
    paths:
      - CODEOWNERS
      - .github/CODEOWNERS
  pull_request:
    branches:
      - master
      - main
    paths:
      - CODEOWNERS
      - .github/CODEOWNERS
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        required: false
        default: false
  schedule:
    - cron: '0 0 * * 1'

permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  validate:
    # github.event.repository context not available in scheduled workflows
    #if: github.event.repository.fork == false
    if: github.repository_owner == 'HariSekhon'
    name: Validate CODEOWNERS
    uses: HariSekhon/GitHub-Actions/.github/workflows/codeowners.yaml@master
    with:
      debug: ${{ github.event.inputs.debug }}
